* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181031;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

form {
    background-color: #24253c;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
}

form h2 {
    font-size: 30px;
    color: #edf0f0;
    margin-bottom: 35px;    
}

input {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #603452;
    margin-bottom: 30px;
    outline: none;
    font-size: 16px;
}

::placeholder {
    color: #898798;
}

.btn {
    background-color: #e53854;
    border: 2px solid #e53854;
    cursor: pointer;
    color: white;
}

.btn:hover {
    background-color: #f33f5a;
    border: 2px solid #f33f5a;
}

.usuarios {
    background-color: #24253c;
    padding: 20px;
    margin-top: 20px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    color: #edf0f0;
}

.usuarios h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#userList {
    list-style: none;
}

.user-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-item button {
    background-color: #e53854;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.user-item button:hover {
    background-color: #f33f5a;
}
